[Desktop Entry]
Type=Application
Version=1.0
Name=Spek
Name[cs]=Spek
Name[da]=Spek
Name[de]=Spek
Name[eo]=Spek
Name[es]=Spek
Name[fr]=Spek
Name[it]=Spek
Name[ja]=Spek
Name[nb]=Spek
Name[nl]=Spek
Name[pl]=Spek
Name[pt_BR]=Spek
Name[ru]=Spek
Name[sv]=Spek
Name[tr]=Spek
Name[uk]=Spek
Name[vi]=Spek
Name[zh_CN]=Spek
Name[zh_TW]=Spek
GenericName=Spectrum Analyser
GenericName[cs]=Spektrální analyzátor
GenericName[da]=Spektrum analysator
GenericName[de]=Spektralanalysator
GenericName[eo]=Spektro Analizilo
GenericName[es]=Analizador de Espectro
GenericName[fr]=Analyseur de Spectre
GenericName[it]=Analizzatore di Spettro
GenericName[ja]=スペクトラムアナライザ
GenericName[nb]=Spekter Analysator
GenericName[nl]=Spectrumanalyse
GenericName[pl]=Analizator widma
GenericName[pt_BR]=Analisador de Espectro
GenericName[ru]=Анализатор спектра
GenericName[sv]=Spektrumanalysator
GenericName[tr]=Spektrum Analizör
GenericName[uk]=Аналізатор спектру
GenericName[vi]=Phân tích âm phổ
GenericName[zh_CN]=频谱分析器
GenericName[zh_TW]=頻譜分析儀
Comment=View spectrograms of your audio files
Comment[cs]=Ukázat spektrogramy zvukových souborů
Comment[da]=Vis spektrogrammer af dine lydfiler
Comment[de]=Spektrogramm der Audiodateien anzeigen
Comment[eo]=Rigardi spektrogramojn de via sondosieroj
Comment[es]=Ver espectrogramas de sus archivos de audio
Comment[fr]=Voir les spectrogrammes de vos fichiers audio
Comment[it]=Mostra spettrogrammi per i tuoi file audio
Comment[ja]=オーディオファイルのスペクトログラムを表示します。
Comment[nb]=Vis spektogram av dine lyd filer
Comment[nl]=Spectrogrammen van uw geluidsbestanden bekijken
Comment[pl]=Wyświetlanie spektrogramów plików dźwiękowych
Comment[pt_BR]=Analisar os espectrogramas dos arquivos de áudio 
Comment[ru]=Просмотр спектрограмм аудио файлов
Comment[sv]=Visa spektrogram av dina ljudfiler
Comment[tr]=Ses dosyalarının spektogramlarını görüntüle
Comment[uk]=Перегляд спектрограм аудіо файлів
Comment[vi]=Xem âm phổ của file nhạc
Comment[zh_CN]=查看你的音频频谱
Comment[zh_TW]=顯示你的音頻頻譜
X-GNOME-FullName=Spek Spectrum Analyser
X-GNOME-FullName[cs]=Spektrální analyzátor Spek
X-GNOME-FullName[da]=Spek Spektrum Analysator
X-GNOME-FullName[de]=Spek Spektralanalysator
X-GNOME-FullName[eo]=Spek Spektro Analizilo
X-GNOME-FullName[es]=Analizador de Espectro Spek
X-GNOME-FullName[fr]=Analyseur de spectre Spek
X-GNOME-FullName[it]=Spek Spectrum Analyser
X-GNOME-FullName[ja]=Spek スペクトラムアナライザ
X-GNOME-FullName[nb]=Spek Spektrum Analysator
X-GNOME-FullName[nl]=Spek Spectrumanalyse
X-GNOME-FullName[pl]=Analizator widma Spek
X-GNOME-FullName[pt_BR]=Spek Analisador de Espectro
X-GNOME-FullName[ru]=Анализатор спектра Spek
X-GNOME-FullName[sv]=Spek Spektrumanalysator
X-GNOME-FullName[tr]=Spek Spektrum Analizör
X-GNOME-FullName[uk]=Аналізатор спектру Spek
X-GNOME-FullName[vi]=Spek phân tích âm phổ
X-GNOME-FullName[zh_CN]=Spek频谱分析器
X-GNOME-FullName[zh_TW]=Spek頻譜分析儀
Exec=spek %f
Icon=${SNAP}/meta/gui/spek.png
Terminal=false
Categories=AudioVideo;Audio;
StartupNotify=true
MimeType=audio/3gpp;audio/ac3;audio/AMR;audio/AMR-WB;audio/basic;audio/midi;audio/mp4;audio/mpeg;audio/ogg;audio/prs.sid;audio/vnd.rn-realaudio;audio/x-aiff;audio/x-ape;audio/x-flac;audio/x-gsm;audio/x-it;audio/x-m4a;audio/x-matroska;audio/x-mod;audio/x-mp3;audio/x-mpeg;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;audio/x-ms-wma;audio/x-musepack;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-pn-windows-acm;audio/x-realaudio;audio/x-real-audio;audio/x-sbc;audio/x-speex;audio/x-tta;audio/x-wav;audio/x-wavpack;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-xm;application/x-flac;application/x-dts;
